doctype html
<!__[if lt IE 7 ]> <html lang="en" class="ie6" > <![endif]__>
<!__[if IE 7 ]>    <html lang="en" class="ie7" > <![endif]__>
<!__[if IE 8 ]>    <html lang="en" class="ie8" > <![endif]__>
<!__[if IE 9 ]>    <html lang="en" class="ie9" > <![endif]__>
<!__[if (gt IE 9)|!(IE)]><!__> <html lang="en" class="" > <!__<![endif]__>

html
  head
    include ../partials/common/_head.pug
  body

  block content